{% extends "layouts/base.html" %}

{% block title %} {{title}} {% endblock title %}

{% block content %}

<div class="content__producto">
<div class="min_header">
        <h1 class="producto__title">Lista de Clientes</h1>
<a href="{% url 'customer_create' %}" class="add-icon"><i class="fa-solid fa-square-plus"></i></a>
 </div>

<table>
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Correo</th>
            <th>Teléfono</th>
            <th>Registro</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        {% for customer in customers %}
        <tr>
            <td>{{ customer.name }} {{ customer.lastname }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.movil }}</td>
            <td>{{ customer.created|date:"d M Y" }}</td>
            <td class="table__accion">
                <a href="{% url 'customer_update' customer.pk %}"><i class="fa-regular fa-pen-to-square"></i></a> |
                <a href="{% url 'customer_delete' customer.pk %}"><i class="fa-solid fa-trash"></i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock content %}