<!DOCTYPE html>
{% load static %}
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 

      <link rel="stylesheet"
          href="{% static 'fonts/fontawesome-free-6.1.2-web/css/all.min.css' %}" />
   
    <link rel="stylesheet" href="{% static 'css/reset.css' %} " />
    <link rel="stylesheet" href="{% static 'css/fonts.css' %} " />
    <link rel="stylesheet" href="{% static 'css/base.css' %} " />
    <link rel="stylesheet" href="{% static 'css/products.css' %} " />
    <link rel="stylesheet" href="{% static 'css/orders.css' %} " />

    <title>{% block title %}{% endblock title %}</title>
</head>
<body>

    <div class="content_login">

        {% block content %}{% endblock content %}
        {% comment %} FOOTER  {% endcomment %}
    <footer class="footer">
        &copy; Mucura Store 2025
    </footer>
    </div>   

    
</body>
</html>